<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.titan.audiorepair">
    <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <queries>
        <package android:name="com.agui.factorytest" />
        <package android:name="com.mediatek.engineermode" />
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Titan Audio Repair"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".RepairService"
            android:exported="false"
            android:process=":repair" />
        <service
            android:name=".PowerMenuAccessibilityService"
            android:label="Titan Audio Repair – Power Menu"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
